/* SARTI_MATTEO-MAFFIOLETTI_ANDREA_4BI_indexCSS.css 27/05/2021*/
html,body
{
	height:100%;
	width:100%;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
/*tutti i paragrafi avranno queste caratteristiche*/
p
{
	font-family: font-sans-serif;
	font-size:110%;
}

/*========================*/
/*=====   HEADER 	====*/
/*========================*/
#Sfondo_Home
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: url(../img/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;

}
#Header_contenitore_menu
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

#Titolo_home
{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 80px;
    font-size: 12px;
}

#Titolo_home :hover
{
    color: #777;
}

/*lista dell Header di destra*/
#Header_menu_destra
{
    display: flex;
    padding-right: 120px;

}
/*a all'interno del header*/
.Header_a
{
    display: flex;
    align-items: center;
    color:#777;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
}

/*a all'interno del header con l'active*/
.Header_a.active
{
    color:white;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.Header_li
{
    display: flex;
    align-items: center;
}

.Header_li :hover
{
    display: flex;
    align-items: center;
    color: white;
    transition: 0.2s;
}
/*****
** Inizio parte div centrale home **
*****/

#logo_centraleHome
{
    padding-top: 70px;
    height: 200px;
    width: 150px;
}

#Titolo_Pace
{
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-top: 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

#imm_separator
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#div_testo_home
{
    display: flex;
    justify-content: center;
    color: white;
}

/*-------------------------*/

/* menu a tendina*/
.dropdown
{
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
  display: none;
  justify-content: center;
  position: absolute;
  background-color: #333;;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a     
{
    padding-top: 30px;
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: rgb(185, 185, 185);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}