/* SARTI_MATTEO-MAFFIOLETTI_ANDREA_4BI_indexCSS.css 27/05/2021*/

html
{
    scroll-behavior: smooth;
    min-width: 1320px;
}

html,body
{
	height:100%;
	width:100%;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
    background-color: #f6f6f6;
}

.lineSeparatorBlack
{
    width: 120px;
    max-width: 120px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*tutti i paragrafi avranno queste caratteristiche*/
p
{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

h1, h2, h3, h4, h5 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1
{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2
{
    font-size: 30px; 
    text-transform: uppercase; 
    letter-spacing: 15px;
    margin: 0px;

}

h4
{
    letter-spacing: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 18px;

}

h5
 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*========================*/
/*=====   HEADER 	====*/
/*========================*/
#Sfondo_Home
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* background-image: url(../img/taglio.gif); */
    background-image: url(../img/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;

}
#Header_contenitore_menu
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

#Titolo_home
{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 80px;
    text-transform: uppercase;
    font-size: 25px;
}

#titolo_home_itis
{
    align-items: center;
    color: white;
    padding-left: 80px;
    font-size: 12px;
}

/*lista dell Header di destra*/
#Header_menu_destra
{
    display: flex;
    padding-right: 100px;

}
/*a all'interno del header*/
.Header_a
{
    display: flex;
    align-items: center;
    color:#777;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
}

/*a all'interno del header con l'active*/
.Header_a.active
{
    color:white;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.Header_li
{
    display: flex;
    align-items: center;
}

.Header_li :hover
{
    color: white;
    transition: 0.2s;
}
/*****
** Inizio parte div centrale home **
*****/

#logo_centraleHome
{
    padding-top: 60px;
    height: 220px;
    width: 170px;
    padding-bottom: 20px;
    margin: 0 auto;
}

#Titolo_Pace
{
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-top: 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

#imm_separator
{
    margin: auto;
    width: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#div_testo_home
{
    display: flex;
    justify-content: center;
    color: white;
}

/* Parte sotto l'header*/
#div_progetto
{
    display: flex;
    justify-self: unset;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    background-color: #1d1d1d;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #1d1d1d 50%);
}

.badge
{
    text-transform: uppercase;
    letter-spacing: .02em;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    color: #fff;
    background-color: #737372;
    display: inline-block;
    padding: .5em .5rem;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3125rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#text_progetto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 700px;
    min-width: 500px;
}

.imm_elenco_bianco
{
    width: 60px;
    margin: 10px;
    margin-left: 0px;
}

#logo_girato
{
    height: 400px;
    transform:rotate(30deg);
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari e Chrome */
}

/* #logo_girato:hover
{
     transform:rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transition: 0.5s;
    transition-timing-function: ease-out;
} */

.testo_grigio
{
    color: #e7e7e7;
    padding-top: 10px;
}

/*================================*/
/*=====     PRESENTAZIONI  	 ====*/
/*================================*/

#div_chi_siamo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#div_presentazione_pace
{
    display: flex;
    flex-direction: inherit;
    justify-content: flex-end;
    font-variant-caps: all-petite-caps;
    background-color: white;
    background-image: url(../img/paceProfiloBlack.png);
    background-repeat: no-repeat;
    height: 600px;
}

#imm_presentazione_pace
{
    background-color: black;
    height: 600px;
    width: auto;
}


#testo_presentazione_pace
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 80px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(246 246 246) 40%);
    /* background-color:  white; */
}

#testo_interno_presentazione_pace
{
    text-align: center;
    padding: 0 20px;
}

/*============================================*/
/*=====    PRESENTAZIONI STUDENTI  	========*/
/*============================================*/
#team
{
    display: flex;
    flex-direction: column;
}

#cont_team
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frecce_team
{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 7% 50px;
    /* padding-top: 280px;
    padding-right: 150px;
    padding-left: 150px; */
}

.frecce_team:hover
{
    cursor: pointer;
}

#cont_dinamico_team
{
    display: flex;
    justify-content: center;
    width: 70%;
}

.imm_team
{
    display: flex;
    justify-content: center;
    padding-right: 50px;
    height: 500px;
}

#testo_team
{
    margin-top: 80px;
}

.Nome_team
{
    font-size: 30px; 
    text-transform: uppercase; 
    letter-spacing: 5px;
    margin-bottom: 13px;
}

.descrizione_team
{
    margin: 40px 0 0 0;
}

.social_team
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 14px;
}

.social_team a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 4px 0;
}

.social_team img
{
    height: 25px; 
    margin: 0;
}

.sottotitolo_team
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 6px;
}

/*========================*/
/*=====   LIBRI  	====*/
/*========================*/

#div_contenitore_libri
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.Titoli_quadrati
{  
    display: flex;
    padding: 25px 30px;
    /* border: solid 8px black; */
    color: rgb(185 185 185);
    /* box-shadow: rgb(0 0 0 / 10%) -4px 9px 25px -6px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

#div_libri
{
    display: flex;
}

.imm_libri
{
    width: 350px;
    height: auto;
    padding: 65px;
}

.centro
{
    display: flex;
    justify-content: center;
    margin-top: 5 px;
    color: #282828;
}

/*========================*/
/*=====   FOOTER	====*/
/*========================*/
.footer_a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer_logo_superiore
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    padding: 50px;
    height: 150px;

}

.logo_centraleHome_footer
{
    height: 200px;
    width: 150px;
}

.footer_logo_inferiore
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    padding: 50px;
    height: 150px;
}

#frecce
{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.logo_social
{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.backtohome
{
    position: fixed;
    bottom: 50px;
    right: 40px;
}
/*========================*/
/*=====   FINE FOOTER	====*/
/*========================*/