/* SARTI_MATTEO-MAFFIOLETTI_ANDREA_4BI_indexCSS.css 27/05/2021*/
html
{
    scroll-behavior: smooth;
}

html,body
{
	height:100%;
	width:100%;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
    background-color: #f6f6f6;
}

.lineSeparatorBlack
{
    width: 120px;
    max-width: 120px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*tutti i paragrafi avranno queste caratteristiche*/
p
{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

h1, h2, h3, h4, h5 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1
{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2
{
    font-size: 30px; 
    text-transform: uppercase; 
    letter-spacing: 15px;
    margin: 0px;

}

h4
{
    letter-spacing: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 18px;

}

h5
 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*========================*/
/*=====   HEADER 	====*/
/*========================*/
#Sfondo_Home
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: url(../img/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;

}
#Header_contenitore_menu
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

#Titolo_home
{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 80px;
    text-transform: uppercase;
    font-size: 20px;
}

#Titolo_home :hover
{
    
    color: #777;
}

#titolo_home_itis
{
    align-items: center;
    color: white;
    padding-left: 80px;
    font-size: 12px;
}

/*lista dell Header di destra*/
#Header_menu_destra
{
    display: flex;
    padding-right: 100px;

}
/*a all'interno del header*/
.Header_a
{
    display: flex;
    align-items: center;
    color:#777;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
}

/*a all'interno del header con l'active*/
.Header_a.active
{
    color:white;
    background-color: transparent;
    margin-right: 17px;
    text-decoration: none;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.Header_li
{
    display: flex;
    align-items: center;
}

.Header_li :hover
{
    display: flex;
    align-items: center;
    color: white;
    transition: 0.2s;
}
/*****
** Inizio parte div centrale home **
*****/

#logo_centraleHome
{
    padding-top: 60px;
    height: 220px;
    width: 170px;
    padding-bottom: 20px;
    margin: 0 auto;
}

#Titolo_Pace
{
    display: flex;
    justify-content: center;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-top: 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

#imm_separator
{
    margin: auto;
    width: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#div_testo_home
{
    display: flex;
    justify-content: center;
    color: white;
}

/*-------------------------*/

/* menu a tendina*/
.dropdown
{
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: transparent;
    height: 120px;
    min-width: 100px;
    z-index: 1;
    margin-top: 135px;
    
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a     
{
    padding-top: 30px;
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    background-color: #333;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: rgb(185, 185, 185);
}


/* Parte sotto l'header*/
#div_chi_siamo
{
    display: flex;
    justify-self: unset;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    background-color: #1d1d1d;

}

.badge
{
    text-transform: uppercase;
    letter-spacing: .02em;
    position: relative;
    bottom: 1px;
    vertical-align: middle;
    color: #fff;
    background-color: #737372;
    display: inline-block;
    padding: .5em .5rem;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3125rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#text_chi_siamo
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-left: 150px;
    color: white;
    width: 700px;
    min-width: 500px;
}

.imm_elenco_bianco
{
    width: 60px;
    margin: 10px;
    margin-left: 0px;
}

#logo_girato
{
    height: 500px;
    width: 450px;
    padding-left: 70px;
}

.testo_grigio
{
    color: #e7e7e7;
    padding-top: 10px;
}

/*================================*/
/*=====     PRESENTAZIONI  	 ====*/
/*================================*/

#div_presentazione_pace
{
    display: flex;
    flex-direction: inherit;
    font-variant-caps: all-petite-caps;
    background-color: white;
}
.imm_presentazione
{
    width: 60%;
    height: 500px;
}

#testo_presentazione_pace
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#testo_interno_presentazione_pace
{
    text-align: center;
    padding: 0 20px;
}

/*============================================*/
/*=====    PRESENTAZIONI STUDENTI  	========*/
/*============================================*/
#team
{
    display: flex;
    flex-direction: column;
}

#cont_team
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.frecce_team
{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding-top: 280px;
    padding-right: 150px;
    padding-left: 150px;
}

.imm_team
{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 380px;
    padding: 50px;
    padding-left: 0px;
}

#testo_team
{
    margin-top: 80px;
}

.Nome_team
{
    font-size: 30px; 
    text-transform: uppercase; 
    letter-spacing: 5px;
    margin-bottom: 13px;
}

.descrizione_team
{
    margin-top: 40px;
}

.social_team
{
    display: flex;
    flex-direction: row;
}

.social_team
{
    margin: 10px;
    margin-left: 0px;
}


.sottotitolo_team
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 6px;
}

/*========================*/
/*=====   LIBRI  	====*/
/*========================*/

#div_contenitore_libri
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    

}

.Titoli_quadrati
{  
    display: flex;
    padding: 25px 30px;
    border: solid 8px black;
    margin-bottom: 50px;
    color: rgb(185 185 185);
}

#div_libri
{
    display: flex;
}

.imm_libri
{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 350px;
    padding: 50px;
}

.centro
{
    display: flex;
    justify-content: center;
    margin-top: 5 px;
    color: #252525;
}

.centro:hover
{
    display: flex;
    justify-content: center;
    margin-top: 5 px;
    color: rgb(185 185 185);
}

/*========================*/
/*=====   FOOTER	====*/
/*========================*/
.footer_a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer_logo_superiore
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    padding: 50px;
    height: 150px;

}

.logo_centraleHome_footer
{
    height: 200px;
    width: 150px;
}

.footer_logo_inferiore
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    padding: 50px;
    height: 150px;
}

.logo_social
{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.backtohome
{
    position: fixed;
    bottom: 50px;
    right: 40px;
}
/*========================*/
/*=====   FINE FOOTER	====*/
/*========================*/